# Entornos y dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Vercel
.vercel

# Entornos virtuales y bytecode de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.env.local
.env.*.local

# Archivos del Sistema Operativo
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Editores e IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Logs y volcados temporales
*.log
scratch/
